<div class="w-screen h-screen relative background">
  <div class="bg-white w-full h-full sm:bg-transparent">
    <div class="absolute w-full h-full hidden sm:block">
      <img class="absolute w-96 left-0 bottom-0" src="/assets/illustrations/cobra id pages_trello_left.svg" alt="Illustration left">
      <img class="absolute w-96 right-0 bottom-0" src="/assets/illustrations/cobra id pages_trello_right.svg" alt="Illustration right">
    </div>
    <div class="relative m-auto main">
      <header class="pt-6 pb-2 flex justify-center">
        <img class="w-42 pb-6" src="/assets/logos/logo-gradient-blue-trello.svg" alt="Logo Trello">
      </header>
      <div class="bg-white relative rounded sm:py-12 px-10 sm:shadow-md">
        <h1 class="text-center font-semibold pb-6 title">Log in to Trello</h1>
        <form novalidate class="space-y-4">
          <div class="relative">
            <input type="email" class="w-full rounded border-2 text-sm placeholder-gray-400" placeholder="Enter email">
          </div>
          <div class="relative">
            <input type="password" class="w-full rounded border-2 text-sm placeholder-gray-400" placeholder="Enter password">
          </div>
          <div>
            <button type="submit" class="text-white rounded w-full font-bold text-sm px-5 py-2">Log in</button>
          </div>
          <p class="text-center text-xs text-gray-500">OR</p>
          <div class="text-sm font-bold text-gray-600">
            <button class="btn rounded centered-shadow-md py-2 flex items-center w-full justify-center"><img src="https://cdn-icons-png.flaticon.com/128/300/300221.png" alt="Google" class="w-4 mr-2"> Continue with Google</button>
            <button class="btn rounded centered-shadow-md py-2 flex items-center w-full justify-center"><img src="https://cdn-icons-png.flaticon.com/128/732/732221.png" alt="Google" class="w-4 mr-2"> Continue with Microsoft</button>
            <button class="btn rounded centered-shadow-md py-2 flex items-center w-full justify-center"><img src="https://cdn-icons-png.flaticon.com/128/0/747.png" alt="Google" class="w-4 mr-2"> Continue with Apple</button>
            <button class="btn rounded centered-shadow-md py-2 flex items-center w-full justify-center"><img src="https://cdn-icons-png.flaticon.com/128/5968/5968929.png" alt="Google" class="w-4 mr-2"> Continue with Slack</button>
          </div>
          <hr>
          <div class="flex justify-center space-x-4 text-sm">
            <a href="/" class="blue-a">Can't log in?</a>
            <p>&bull;</p>
            <a href="/" class="blue-a">Sign up for an account</a>
          </div>
        </form>
      </div>
      <div class="relative py-4">
        <div class="flex justify-center space-x-4 text-xs">
          <a href="https://trello.com/privacy" target="_blank" class="blue-a">Privacy Policy</a>
          <p>&bull;</p>
          <a href="https://trello.com/legal" target="_blank" class="blue-a">Terms of Service</a>
        </div>
        <div class="w-full pt-4">
          <select name="language" id="language" class="text-sm text-gray-500 border-2 border-gray-200 mx-auto w-32 block">
            <option value="english">English</option>
            <option value="spanish">Español</option>
            <option value="french">Français</option>
            <option value="japanese">日本語</option>
          </select>
        </div>
        <hr class="my-4">
        <img src="/assets/logos/horizontal-logo-onecolor-blue-atlassian.svg" alt="Logo Atlassian" class="mx-auto w-32">
      </div>
      <div class="text-sm flex justify-center gap-4">
        <a href="https://trello.com/templates" class="grey-a" target="_blank">Templates</a>
        <a href="https://trello.com/pricing" class="grey-a" target="_blank">Pricing</a>
        <a href="https://trello.com/platforms" class="grey-a" target="_blank">Apps</a>
        <a href="https://www.atlassian.com/company/careers/trello" class="grey-a" target="_blank">Jobs</a>
        <a href="https://blog.trello.com/" class="grey-a" target="_blank">Blog</a>
        <a href="http://developers.trello.com/" class="grey-a" target="_blank">Developers</a>
        <a href="https://trello.com/about" class="grey-a" target="_blank">About</a>
        <a href="http://help.trello.com/" class="grey-a" target="_blank">Help</a>
      </div>
    </div>
  </div>
</div>
