@tailwind base;
@tailwind components;
@tailwind utilities;
@import '@angular/cdk/overlay-prebuilt.css';

body, input, form, button, select {
  font-family: 'Noto Sans', sans-serif;
  letter-spacing: -0.05em !important;
}

.centered-shadow-md {
  box-shadow: 2px 0 6px rgba(118, 117, 128, 0.2), 0 0 6px rgba(118, 117, 128, 0.2);
}
